<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simplane.mapper.AnswerMapper">

    <select id="readAnswerByQuestionId" resultType="com.simplane.domain.AnswerVO">
        select * from sim_answer where questionid = #{questionid}
    </select>

    <select id="readAnswerByAnswerId" resultType="com.simplane.domain.AnswerVO">
        select * from sim_answer where answerid = #{answerid}
    </select>

</mapper>